body {
    margin:0;
    font-family: "Segoe","Segoe UI","Arial","sans-serif";
}
.container {
    background-color: rgb(255, 255, 255);
}
.header {
    background-color: #0078d7;
    min-height: 3rem;
    color:#fff2ee;
    display:flex;
}
.to-do-icon {
    margin: 1rem;
}
.to-do {
    margin-top: 1rem;
    margin-left: 1.5rem;
    font-size: 15.4px;
}
img {
    width:1rem;
    cursor: pointer;
}
.search-bar {
    display: flex;
    height: 2rem;
    margin-top: 0.5rem;
    margin-left: 26.8rem;
    width: 26%;
    border-radius: 0.1em;
    background-color: #c3dcf7;
}
.submit{
    border-style:hidden;
    background-color: transparent;
    color:#0078d7;
    padding-left: 0.5rem;
    width: 100%;
    height: 100%;
}
.search-bar input::placeholder {
    color:#346fef;
}
.search-bar:hover{
    background-color: #f4f4f4;
}
.search-img {
    color:#0078d7;
    transform: rotate(90deg);
    margin-left: 1rem;
}
.header-icons {
    margin: 0.8rem 0.8rem 0.8rem 26.2rem;;
    padding-top: 0.15rem;
}
.question {
    padding-left:1.5rem;
}
.main-body {
    display: flex;
    height: 80%;
}
.menu-bar {
    transition: 0.3s;
    background-color: #f4f4f4;
    width: 2.8%;
    height: 112%;
    padding-top: 1.7rem;
    padding-left: 0.5rem;
}
button {
    border:none;
    background-color: transparent;
    outline: none;
}
ul {
    list-style: none;
    padding: 0.5rem;
    padding-top: 1.2rem;
}
.left-side-menu {
    padding-left: 0.5rem;
    font-size: 0.87rem;
    color:#34373d;
    display: none;
    cursor: pointer;
}
.step-menu {
    font-size: 0.77rem;
    color:#8b7a95;
    padding-left: 0.8rem;
}
.share {
    padding-top: 0.2rem;
    font-size: 0.8rem;
    color:#3459c1;
}
.middle-heading-share {
    padding: 2rem 0rem 0rem 27rem;
}
.middle-heading-share-increase {
    padding: 2rem 0rem 0rem 52rem;
}
li {
    padding-bottom: 1.3rem;
}
.my-day {
    display:flex;
}
.menu-bar-open {
    width: 18.5%;
}
.menu-bar-close {
   width: 2.8%;
}
.menu-name-visible {
    display: block;
}
.menu-name-hide {
    display: none;
}
div#add-task {
    padding-left: 0.5rem;
}
.new-created-list {
    margin-top: 1rem;
}
input[type="text"] {
    border-style: none;
    background: transparent;
    outline: none;
}
input[type="text"]::placeholder{
    color: #5088f6;
}
.new-list {
    display: flex;
    padding-bottom: 1.3rem;
    cursor: pointer;
}
.sub-task-body {
    background-color: #ffffff;
    height: 117.3%;
    width: 100%;
}
.increase-sub-task-width {
    width: 100%;
}
.step-body {
    background-color: #ebebeb;
    width: 0%;
    height: 117.3%;
    overflow: hidden;
        
}
.reduce-width {
    width: 70%;
}
.increase-width {
    width: 30%;
}
.reduce-step-width {
    width: 0%;
}
.step-div {
    margin: 1rem;
    background-color: #ffffff;
}
.task-name-on-sub-task {
    padding: 1.5rem 2rem 1rem 2rem;
    font-size: 1.3rem;
    color: #3e69e4;
    font-weight: bold;
}
.sub-task-name-on-step {
    font-weight: bold;
    padding: 1rem;
    font-size: 1rem;
    color: #3e69e4;
}
.background-lines {
    margin: 0px 24px;
    flex: 1;
    background: linear-gradient(180deg, white, white 52px, #e5e5e5 52px);
    background-size: 100% 53px;
    border-top: 1px solid #e5e5e5;
}
.new-sub-task, .enter-sub-task {
    padding: 0.8rem 0rem 0.8rem 2rem;
}
.middle-sub-task, .enter-task, .step-info, .step-input{
    padding-left:1rem;
    cursor: pointer;
}
.sub-task-input {
    width: 90%;
    font-size: 0.9rem;
}
.new-step, .step-query {
    padding: 0.5rem 0rem 0.5rem 1rem;
}
.step-menu-query {
    padding: 1rem 0rem 1rem 1rem;
}
.step-note {
    padding: 1rem 0rem 3rem 1rem;
}
.middle-heading {
    display: flex;
}
.strike {
    text-decoration: line-through;
}
.non-strike {
    text-decoration: none;
}
.check-box {
    margin-left: 1rem;
}